@model WebTest.Models.Student
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="../../Scripts/jquery-1.5.1.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<h2>
    Index</h2>
<script>
    $(function () {

        //        $.post("/home/posttest", { Name: "xiaoming", Age: 500, child: { "child.Cname": "xxx", "child.Cage": 60} }, function () {
        //          
        //        });
        $($("form")[0]).submit(function () {
            alert($(this).serialize());

        });
    });
</script>
@{ Html.BeginForm();}
@Html.EditorForModel()
@{
    var st = Model.child as WebTest.Models.Child;
}
今天是个好日子 <a href="../../Content/images/广州时代倾城沙盘图.png" target="_blank">
    <img src="../../Content/images/广州时代倾城沙盘图.png" /></a>
<input type="submit" id="sub" />
<a id="atest">testclick</a>
@{ Html.EndForm();}
<script>
    var EventTool = {
        ///添加事件
        addEvent: function (e, type, handler) {
            if (e.addEventListener) {
                e.addEventListener(type, handler, false);
            } else if (e.attachEvent) {
                e.attachEvent("on" + type, handler);
            } else {
                e["on" + type] = handler;
            }
        },
        ///获取包含自定义属性的元素
        getElementsByAttribute: function (attribute, context) {
            var matchingElements = [];
            var allElements = (context || document).getElementsByTagName('*');
            for (var i = 0, n = allElements.length; i < n; i++) {
                if (allElements[i].getAttribute(attribute)) {
                    matchingElements.push(allElements[i]);
                }
            }
            return matchingElements;
        },
        close: function () {
            window.onbeforeunload = function () {
                console.log("关闭吗");
                return false;
            };
        }
    };
</script>
<script>
    $(function () {
        //        $("#atest").click(function () { alert("12"); });
        //        $("#atest").click(function () { alert("34"); });
    });
    //    (function () {
    //        var msg = "Hello, world!";
    //        window.onunload = function () {
    //            alert(msg);
    //            return false;
    //        }
    //    })(); 
    (function () {
        var atest = document.getElementById("atest");
        EventTool.addEvent(atest, "click", function () {
            alert(this.text);
        });
        EventTool.addEvent(atest, "click", function () {
            alert('123');
        });
        EventTool.close();
    })();
</script>
