<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="JokeDb" value="data source=SUPER-PC;initial catalog=MyJoke;persist security info=True;user id=sa;password=123123;"/>
    <!--<add name="kyj_NewHouseDBEntities" connectionString="metadata=res://*/kyj_NewHouseDB.csdl|res://*/kyj_NewHouseDB.ssdl|res://*/kyj_NewHouseDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-201401070921\MYSQLSERVER;initial catalog=kyj_NewHouseDB;persist security info=True;user id=sa;password=110;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </appSettings>
</configuration>
