USE [master]
GO
/****** Object:  Database [MyJoke]    Script Date: 04/24/2015 16:51:23 ******/
CREATE DATABASE [MyJoke] ON  PRIMARY 
( NAME = N'MyJoke', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MYSQLSERVER\MSSQL\DATA\MyJoke.mdf' , SIZE = 187392KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyJoke_log', FILENAME = N'D:\gitui\learngit\DB\MyJoke_log.ldf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyJoke].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyJoke]
GO
/****** Object:  Table [dbo].[JokeDetail]    Script Date: 04/24/2015 16:51:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JokeDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FormId] [int] NOT NULL,
	[Author] [nvarchar](30) NULL,
	[PublishDate] [datetime] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ImgUrl] [varchar](500) NULL,
	[Tag] [varchar](10) NOT NULL,
	[GoodNum] [int] NOT NULL,
	[ReplyNum] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
 CONSTRAINT [PK_JokeDetail] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE CLUSTERED INDEX [IX_PublishDate] ON [dbo].[JokeDetail] 
(
	[PublishDate] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_CreateDate] ON [dbo].[JokeDetail] 
(
	[CreateDate] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_GoodNum_CreateDate] ON [dbo].[JokeDetail] 
(
	[PublishDate] DESC,
	[CreateDate] DESC,
	[GoodNum] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Default [DF__JokeDetai__Autho__014935CB]    Script Date: 04/24/2015 16:51:24 ******/
ALTER TABLE [dbo].[JokeDetail] ADD  CONSTRAINT [DF__JokeDetai__Autho__014935CB]  DEFAULT ('') FOR [Author]
GO
/****** Object:  Default [DF__JokeDetai__Conte__023D5A04]    Script Date: 04/24/2015 16:51:24 ******/
ALTER TABLE [dbo].[JokeDetail] ADD  CONSTRAINT [DF__JokeDetai__Conte__023D5A04]  DEFAULT ('') FOR [Content]
GO
/****** Object:  Default [DF_JokeDetail_GoodNum]    Script Date: 04/24/2015 16:51:24 ******/
ALTER TABLE [dbo].[JokeDetail] ADD  CONSTRAINT [DF_JokeDetail_GoodNum]  DEFAULT ((0)) FOR [GoodNum]
GO
/****** Object:  Default [DF_JokeDetail_ReplyNum]    Script Date: 04/24/2015 16:51:24 ******/
ALTER TABLE [dbo].[JokeDetail] ADD  CONSTRAINT [DF_JokeDetail_ReplyNum]  DEFAULT ((0)) FOR [ReplyNum]
GO
/****** Object:  Default [DF__JokeDetai__Creat__03317E3D]    Script Date: 04/24/2015 16:51:24 ******/
ALTER TABLE [dbo].[JokeDetail] ADD  CONSTRAINT [DF__JokeDetai__Creat__03317E3D]  DEFAULT (getdate()) FOR [CreateDate]
GO
